.start-stop-button {
  padding: 6px 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 2px solid rgb(160, 177, 214);
  font-size: 24px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  color: rgb(160, 177, 214);;
  background: white;
  float: right;
  margin-left: 10px;
}

.start-stop-button:hover {
  background: rgb(160, 177, 214);
  color: white;
}

.start-stop-button:focus {
  outline: 0;
}
